


/* navbar.component.css */
.ml10 {
  margin-left: 10px;
}
.example-spacer {
  flex: 1 1 auto;
}

/* Estilos para el mat-toolbar */
mat-toolbar {
  background-color: #bad2e6 !important;
  height: 56px;
  min-height: 56px;
  padding: 0 16px;
}

/* Opcional: Ajustar el tamaño de los iconos y botones si se ven raros con la nueva altura */
mat-toolbar .mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

mat-toolbar .mat-mdc-button,
mat-toolbar .mat-mdc-icon-button {
  height: 48px;
  line-height: 48px;
}

/* Ajuste para los botones dentro del toolbar si mat-button o mat-raised-button */
mat-toolbar .mat-mdc-button.mat-mdc-button-base {
    padding: 0 8px; /* Ajusta el padding horizontal de los botones */
    min-width: 0; /* Permite que el botón se ajuste al contenido si no quieres ancho fijo */
}